# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\user\Documents\ClasesVirtual2020\Electiva III - Arquitectura WEB\A\CustomerSystemGrupo5\CustomerSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
